@import "tailwindcss";

@theme {
  --color-neon-blue: #00f3ff;
  --color-neon-red: #ff003c;
  --color-dark-bg: #0a0a0a;
  --color-dark-panel: #111111;
  --color-text-primary: #e0e0e0;
}

@layer base {
  body {
    @apply bg-dark-bg text-text-primary font-sans antialiased;
  }
}
